<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>271152106701-ktmue036bv9jkmfqbmgm5n69036brbdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.271152106701-ktmue036bv9jkmfqbmgm5n69036brbdg</string>
	<key>API_KEY</key>
	<string>AIzaSyA-mnzsxHIEcv83Nouf2mc1-utgxPwjdsw</string>
	<key>GCM_SENDER_ID</key>
	<string>271152106701</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pluszak.flutterstarcraft.flutterStarcraft</string>
	<key>CFBundleIdentifier</key>
    <string>com.pluszak.flutterstarcraft.flutterStarcraft</string>
	<key>PROJECT_ID</key>
	<string>flutter-starcraft</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-starcraft.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:271152106701:ios:9c1b268527dfab2862ad84</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-starcraft.firebaseio.com</string>
	<key>CFBundleVersion</key>
    <string>11</string>
    <key>CFBundleShortVersionString</key>
    <string>11</string>
    <key>CFBundleExecutable</key>
    <string>${EXECUTABLE_NAME}</string>
</dict>
</plist>